@media screen and (max-width: 1024px) {
    html {
        font-size: 53%;
    }

    .home {
        .body_content_start {
            margin-top: 17% !important;
        }

        .slide {
            .slide_area {
                .banner {
                    transform-origin: top;
                    transform: scale(1.2);
                }
            }

            .left,
            .right {
                padding: 8rem 1.5rem !important;
            }
        }
    }

    // all product cart
    .all_products {
        .product_section {
            .cardDetails {
                .image_section {
                    height: 26rem !important;
                }
            }
        }
    }

}

@media screen and (max-width: 992px) {
    html {
        font-size: 53%;
    }

    // all product cart
    .all_products {
        .product_section {
            .product_link {
                width: calc((100% / 3) - 1.8rem) !important;
            }

            .cardDetails {
                .image_section {
                    height: 25rem !important;
                }
            }
        }
    }
}

@media screen and (max-width: 768px) {
    html {
        font-size: 50%;
    }

    p {
        font-size: 1.5rem !important;
    }

    // payment cart
    .payment {
        max-width: 80% !important;
        min-height: 70vh !important;
    }

    //home
    .home {
        .body_content_start {
            .card_row {
                .card {
                    .Card_Image {
                        .details {
                            font-size: 1.5rem !important;
                        }
                    }

                    .para {
                        font-size: 1.5rem !important;
                    }
                }
            }

            .product_list .para {
                font-size: 1.5rem !important;
            }

        }
    }

    // full deatils
    .container {
        .fullContainer {
            .details_info {
                .info {

                    .product_details {
                        .table {
                            tr {
                                td:first-child {
                                    font-size: 1.5rem !important;
                                }

                                td:last-child {
                                    font-size: 1.5rem !important;
                                }
                            }
                        }

                        ul li {
                            font-size: 1.5rem !important;
                        }
                    }
                }

            }


        }
    }
}

@media screen and (max-width: 575px) {

    html {
        font-size: 55%;
    }

    //header ----
    .header {
        display: flex;
        flex-wrap: wrap;
        height: 13rem !important;
        padding: 1rem 1.5rem !important;
        gap: 1rem;

        .hideCetagoryTab {
            width: 0 !important;
            visibility: hidden;
            animation: hideCetagoryTab 0.2s linear 1;
        }

        .search_box {
            height: 5rem !important;
        }

        .header_nav {
            position: absolute;
            top: 1rem;
            right: 1.5rem;
            height: auto !important;
        }

        .suggetion_box {
            position: absolute !important;
            height: 9.5rem !important;

            .search_suggetion {
                left: 1.5rem !important;
                width: 80vw !important;
                bottom: -0.5rem !important;

                .suggetion_item {
                    font-size: 1.5rem !important;

                }
            }
        }
    }

    //slider
    .home {
        .slide {
            top: 13rem !important;
        }

        .slide_area {
            .banner {
                transform: scale(1.75) !important;
            }
        }

        .body_content_start {
            margin-top: 26% !important;

            .card_row {
                flex-direction: column !important;

                .card {
                    width: 100% !important;
                    padding-bottom: 5rem !important;

                    .Card_Image {
                        .card_image {
                            max-width: 18.3rem;
                        }
                    }

                    .para {
                        font-size: 1.5rem !important;
                    }
                }
            }

            .product_list {
                .card .Card_Image .price_and_discount .actual_price {
                    font-size: 1.5rem !important;
                }

                .para {
                    font-size: 1.5rem !important;
                }
            }

        }
    }

    // all product cart --
    .all_products {

        .filter_button {
            display: block !important;
        }

        .filter_section {
            position: absolute;
            width: 50% !important;
            display: none;
            z-index: 9;
            top: 4.5rem;
            left: 2.1rem;
            box-shadow: 1.5rem 1.3rem 1.3rem 0 #00000026;
            transition: 0.3s;
            overflow: hidden;

            .filter_using_box {
                .inputbox {
                    span {
                        font-size: 1.5rem;
                    }
                }

                h5 {
                    font-size: 1.8rem;
                }

                input {
                    padding: 0.5rem;
                    font-size: 1.4rem;
                }

                span {
                    font-size: 1.4rem;
                }
            }

        }

        .addFilter {
            width: 50% !important;
            opacity: 1;
            animation: fadein 0.3s linear 1;

            @keyframes fadein {
                0% {
                    opacity: 0;
                }

                100% {
                    opacity: 1;
                }
            }
        }

        .removeFilter {
            width: 0 !important;
            opacity: 0;
            animation: fadeout 0.1s linear 1;

            @keyframes fadeout {
                0% {
                    opacity: 1;
                }

                100% {
                    opacity: 0;
                }
            }
        }

        .all_products_List {
            width: 100% !important;

            .product_section {
                .product_link {
                    width: calc((100% / 2) - 1.8rem) !important;
                }

                .cardDetails {
                    .image_section {
                        height: 25rem !important;
                    }
                }
            }
        }
    }

    //product full deatils
    .container {
        .fullContainer {
            display: flex !important;
            flex-direction: column;

            .image_viewer {
                width: 100% !important;
                position: relative !important;
                padding-bottom: 11rem;
                top: 0 !important;

                .image_list {
                    position: absolute !important;
                    bottom: 0;
                    left: 0;
                    width: 100% !important;
                    height: max-content;

                    ul {
                        flex-direction: row !important;
                        width: 100% !important;
                        height: max-content !important;
                        justify-content: center;
                    }

                    .image_list_item {
                        $size: 10rem;
                        width: $size !important;
                        height: $size !important;
                        display: flex;
                        justify-content: center;
                        align-items: center;

                        img {
                            max-height: 100%;
                        }
                    }
                }

                .image_card {
                    width: 100% !important;
                    height: 35rem !important;
                    display: flex !important;
                    justify-content: center;
                    align-items: center;

                    img {
                        max-height: 100%;
                    }
                }
            }

            .details_info {
                width: 100% !important;

                .info {
                    .price {
                        .discount_price {
                            font-size: 2.4rem !important;
                        }

                        .actual_price_and_offer {
                            font-size: 2rem !important;
                        }
                    }

                    .add_to_card {
                        .add_to_card_btn {
                            padding: 1rem 5rem !important;
                            font-size: 1.6rem !important;
                        }

                        .quantity {
                            font-size: 2.5rem;

                            .quItem {
                                width: 4.2rem !important;
                                font-size: inherit !important;

                            }

                            .selected_number {
                                font-size: inherit !important;
                            }
                        }
                    }
                }

            }


        }
    }

    //cart ---
    .cart_item {
        display: flex !important;
        flex-direction: column;

        .card_product_noty {
            font-size: 3rem !important;
        }

        .product,
        .Item_total {
            width: 100% !important;
        }

        .product {
            height: 70vh;

            .cart_item_box {
                .left {
                    width: calc(25% - 1.5rem) !important;
                }

                .right {
                    width: calc(75% - 1.5rem) !important;
                }
            }
        }
    }

    // payment cart
    .payment {
        max-width: 92% !important;
    }

}

@media screen and (max-width: 450px) {
    html {
        font-size: 50%;
    }

    //slider
    .home {
        .slide {
            &::after {
                height: 36% !important;
            }

            .slide_area {
                .banner {
                    transform: scale(1.6);
                }
            }

            .left,
            .right {
                padding: 6rem 1.5rem !important;

                .Control_icon {
                    font-size: 3rem !important;
                }
            }
        }

        // home scroll card 
        .body_content_start {
            .product_list {
                .card_row {
                    .card {
                        padding: 2rem !important;

                        .Card_Image {
                            width: 16rem !important;

                            .card_image_box {
                                height: 15rem !important;
                            }

                            .details {
                                line-height: 2rem;
                            }
                        }

                    }

                }
            }
        }
    }
}

@media screen and (max-width: 375px) {
    html {
        font-size: 48%;
    }
}

@media screen and (max-width: 280px) {
    html {
        font-size: 30%;
    }

}